body {
  margin: 0;
  font-family: "Poppins";
}
nav {
  display: flex;
  height: 70px;
  background: #ffffff;
  box-shadow: 0px 2.98256px 7.4564px rgba(0, 0, 0, 0.1);
}

.gray {
  color: #918e9b;
}

.bold {
  font-weight: bold;
}

.nav--icon {
  padding: 15px 35px;
  max-width: 250px;
}

.hero--container {
  padding: 30px;
  display: flex;
  flex-direction: column;
}

.hero--header {
  margin-bottom: 0px;
}

.hero--sub {
  max-width: 340px;
}

.card {
  width: 220px;
  padding: 30px;
}

.card--stats {
  align-items: center;
  display: flex;
}

.card--image {
  width: 100%;
  border-radius: 9px;
}

.card--star {
  height: 15px;
}
